body {
  /* background-color: #333; */
  /* color: #fff; */
  padding: 20px 20px 0 20px;
  background-image: url(../media/bg1.jpeg);
  background-size: cover;
}
h1 {
  margin-top: 150px;
  margin-bottom: 80px;
}
h2 {
  margin-bottom: 30px;
}
pre {
  margin: 0;
}
body div.container-fluid table.table {
  /* --bs-table-bg: rgba(255, 255, 255, 0.769); */
  background-color: rgba(255, 255, 255, 0.769) !important;
}
.table>:not(caption)>*>* {
  padding: 3px 0.5rem;
  font-size: 15px;
}
.table tr.title th {
  padding: 8px 0 !important;
  font-size: 18px;
}
.table tr td:nth-child(1) {
  font-weight: bold;
}